html {
  font-family: 'Raleway', helvetica, arial, sans-serif;
  font-size: 10px;
}
header {
  background-color: #B2BCBE;
}
h1 {
  font-family: 'Barriecito', cursive;
  font-size: 3.2rem;
  text-transform: capitalize;
  background-color: #B2BCBE;
  border-bottom: 1px solid #3B3D49;
}
#nav-items li {
  font-size: 1.8rem;
  list-style: none;
  display: inline;
}
#nav-items li:nth-of-type(1), #nav-items li:nth-of-type(2) {
  margin-right: 3rem;
}
body {
  max-width: 900px;
  margin: 0 auto;
}
main {
  font-size: 1.8rem;
}
#introimg-container {
  float: left;
  margin-right: 2.3em;
}
#introimg-container img {
  max-width: 360px;
}
.project-image {
  max-width: 280px;
}
.lower-content {
  display: flex;
  justify-content: space-between;
}
.projects-container figure {
  margin-left: 0;
}
.project img {
  border-radius: 15px;
}
img {
  max-width: 100%;
}
