html {
  font-family: 'Raleway', helvetica, arial, sans-serif;
  font-size: 10px;
}
body {
  margin: 0;
}
header {
  background-color: #B2BCBE;
}
h1 {
  font-family: 'Barriecito', cursive;
  font-size: 3.2rem;
  text-transform: capitalize;
  background-color: #B2BCBE;
  letter-spacing: .25rem;
}
h1, .nav div, main {
  max-width: 950px;
  margin: 0 auto;
}
#nav-bar-container {
  border-top: 1px solid #3B3D49;
  background-color: gray;
}
#nav-items {
  margin-left: -4em;
}
#nav-items li {
  font-size: 1.8rem;
  list-style: none;
  display: inline;
}
#nav-items li:nth-of-type(1), #nav-items li:nth-of-type(2) {
  margin-right: 3rem;
}
#nav-items li .nav-links {
  text-decoration: none;
}
main {
  font-size: 1.8rem;
  margin-bottom: 1.5em;
}
main .upper-content {
  box-shadow: 0px 5px 20px gray;
  padding: 1em;
  border-radius: 5px;
  margin-top: 2em;
}
#introimg-container {
  float: left;
  margin-right: 2.3em;
}
#introimg-container img {
  max-width: 360px;
}
.intro-text {
  line-height: 1.5;
}
.project-image {
  max-width: 280px;
}
.lower-content {
  display: flex;
  justify-content: space-between;
}
.projects-container figure {
  margin-left: 0;
}
.project img {
  border-radius: 15px;
}
img {
  max-width: 100%;
}
footer {
  background-color: #B2BCBE;
  height: 150px;
}
footer span:nth-of-type(2) {
  float: right;
}
