html {
  font-family: 'Raleway', helvetica, arial, sans-serif;
  font-size: 10px;
}
body {
  max-width: 800px;
  margin: 0 auto;
}
main {
  font-size: 2.2rem;
}
#introimg-container {
  float: left;
  margin-right: 2.3em;
}
#introimg-container img {
  max-width: 360px;
}
.project-image {
  width: 280px;
}
.lower-content {
  display: flex;
}
